.item-container {
  width: 150px;
  height: 150px;
  border: 1px solid lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  @media (min-width: 768px) {
    width: 250px;
  height: 250px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.title {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 146px;
}
.price {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 146px;
  color: red;
}
.add {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 146px;
  cursor: pointer;
  color: red;
}
