.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 53px;
  max-width: 1400px;
  min-width: 320px;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  @media (min-width: 768px) {
    width: 100%;
    overflow: hidden;
  }
  .menu-button {
    font-size: 30px;
    @media (min-width: 768px) {
      display: none;
    }
    .burger {
      padding: 5px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .close {
      padding: 5px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .nav {
    width: 100%;
    @media (min-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .menu-items {
      width: 0px;
      display: flex;
      flex-direction: column;
      list-style: none;
      line-height: 54px;
      transition: all 1.5s ease;
      border-bottom: 1px solid #e5e5e5;
      position: absolute;
      top: 2rem;
      margin-left: 150%;
      padding: 2rem;
      z-index: 1000000;

      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        border-bottom: none;
        position: initial;
        margin-left: 0;
        width: 60%;
        z-index: 0;
      }
      li {
        align-self: center;
        margin-right: 10%;
        cursor: pointer;
      }
    }
    .show {
      width: 320px;
      display: flex;
      flex-direction: column;
      list-style: none;
      line-height: 54px;
      transition: all 1.5s ease;
      border-bottom: 1px solid #e5e5e5;
      position: absolute;
      top: 2rem;
      margin-left: 0%;
      background: white;
      padding: 2rem;
      z-index: 1000000;

      @media (min-width: 410px) {
        margin-left: 50%;
      }
    }
  }
}
